<?php 

{% set data = [

{
    nmb: '01',
    title: 'Креативность',
    description: '
        <p>Программа находится на стадии доработки.</p>
    '
},
{
    nmb: '02',
    title: 'Системное мышление',
    description: '
        <p>Программа находится на стадии доработки.</p>
    '
},
{
    nmb: '03',
    title: 'Логика',
    description: '
        <p>Программа находится на стадии доработки.</p>
    '
},
{
    nmb: '04',
    title: 'Сверхпамять',
    description: '
        <p>Память человека неразрывно связана с&nbsp;мыслительной активностью. Чем больше информации мы&nbsp;удерживаем в&nbsp;памяти, тем лучше мозгу удается ее&nbsp;аккумулировать и&nbsp;сохранить. Вот почему очень важно развивать память и&nbsp;использовать проверенные мнемонические техники.</p>
        <p>Мозг нейропластичен&nbsp;&mdash; он&nbsp;постоянно адаптируется к&nbsp;новым условиям и&nbsp;наращивает потенциал. Формирование и&nbsp;укрепление нейронных связей зависит от&nbsp;того, как часто человек узнает что-то новое и&nbsp;запоминает эту информацию. Исследования показали, что регулярные тренировки памяти увеличивают показатели интеллекта у&nbsp;людей всех возрастов и&nbsp;улучшают память пожилых, возвращая ее&nbsp;к&nbsp;показателям среднего возраста.</p>
        <p>Курс тренировки памяти включает более 30&nbsp;упражнений, развивающих различные виды памяти (механическую, зрительную, слуховую, кинестетическую, ассоциативную), техники запоминания, тренажеры и&nbsp;последние разработки специалистов Центра интеллекта в&nbsp;области развития способности запоминания.</p>
        <p>Присоединяйтесь к&nbsp;одной из&nbsp;программ профиля и&nbsp;узнайте, как учить иностранные языки, читать книги, смотреть фильмы, не&nbsp;забывая ничего из&nbsp;пройденного.</p>
    ',
    href: 'https://synergyintellect.ru/memory/'
},
{
    nmb: '05',
    title: 'Скорочтение',
    description: '',
    href: 'https://synergyintellect.ru/fastread/'
},
{
    nmb: '06',
    title: 'Каллиграфия для детей и подростков',
    description: '',
    href: 'https://synergyintellect.ru/calligraphy4kids/'
},
{
    nmb: '07',
    title: 'Внимание',
    description: '
        <p>Программа находится на стадии доработки.</p>
    '
},
{
    nmb: '08',
    title: 'Интеллектуальные игры',
    description: '
       <p>Программа находится на стадии доработки.</p>
    '
},
{
    nmb: '09',
    title: 'Каллиграфия',
    description: '
        <p>Мозг&nbsp;&mdash; самый искушенный любитель поесть. Образ жизни и&nbsp;питание человека определяет интеллектуальные результаты, уровень работоспособности и&nbsp;креативности. Чтобы добиться наилучших результатов, стоит скорректировать план питания и&nbsp;выработать новые здоровые привычки, чтобы мозг оставался здоровым и&nbsp;продуктивным.</p>
        <p>В&nbsp;рамках курса вы&nbsp;узнаете, как рацион влияет на&nbsp;мозговую деятельность, почему важно регулярно выводить токсины из&nbsp;организма, что помогает защититься от&nbsp;негативного воздействия на&nbsp;работу мозга, какие витамины лучше всего влияют на&nbsp;темп умственной работы и&nbsp;правда&nbsp;ли, что кофе и&nbsp;вино полезны для здоровья.</p>
        <p>Программа обучения включает описание различных диет и&nbsp;видеотрансляции кулинарного приготовления полезных для мозговой деятельности блюд.</p>
        <p>Присоединяйтесь к&nbsp;курсу, чтобы научиться поддерживать ум&nbsp;и&nbsp;тело в&nbsp;порядке, узнать, чем кормить ваш мозг, и&nbsp;как совместить приятное с&nbsp;полезным.</p>
    ',
    href: 'https://synergy.ru/lp/calligraphy/'
},
{
    nmb: '10',
    title: 'Synergy Intellect Camp',
    description: '
        <p>Мозг&nbsp;&mdash; самый искушенный любитель поесть. Образ жизни и&nbsp;питание человека определяет интеллектуальные результаты, уровень работоспособности и&nbsp;креативности. Чтобы добиться наилучших результатов, стоит скорректировать план питания и&nbsp;выработать новые здоровые привычки, чтобы мозг оставался здоровым и&nbsp;продуктивным.</p>
        <p>В&nbsp;рамках курса вы&nbsp;узнаете, как рацион влияет на&nbsp;мозговую деятельность, почему важно регулярно выводить токсины из&nbsp;организма, что помогает защититься от&nbsp;негативного воздействия на&nbsp;работу мозга, какие витамины лучше всего влияют на&nbsp;темп умственной работы и&nbsp;правда&nbsp;ли, что кофе и&nbsp;вино полезны для здоровья.</p>
        <p>Программа обучения включает описание различных диет и&nbsp;видеотрансляции кулинарного приготовления полезных для мозговой деятельности блюд.</p>
        <p>Присоединяйтесь к&nbsp;курсу, чтобы научиться поддерживать ум&nbsp;и&nbsp;тело в&nbsp;порядке, узнать, чем кормить ваш мозг, и&nbsp;как совместить приятное с&nbsp;полезным.</p>
    ',
    href: 'https://synergyintellect.ru/camp/'
},
{
    nmb: '11',
    title: 'Эмоциональный интеллект',
    description: '
        <p>Эмпатия, толерантность и&nbsp;доброта стали навыками, без которых невозможно выстроить здоровые связи в&nbsp;современном мире. Чтобы научиться слушать и&nbsp;слышать собеседника, важно развить в&nbsp;себе способность относиться к&nbsp;другому, как к&nbsp;себе. Работа с&nbsp;чувствами&nbsp;&mdash; серьезный труд, который спустя время обязательно принесет много радости.</p>
        <p>В&nbsp;рамках курса вам предстоит изучить основы психологии, философии и&nbsp;биологии, участвовать в&nbsp;групповых практиках, тренировать чувствительность, взаимодействовать с&nbsp;другими участниками, разбирать тематическую литературу и&nbsp;разбирать пройденное с&nbsp;преподавателями программы.</p>
        <p>Присоединяйтесь к&nbsp;программе, чтобы уметь найти подход к&nbsp;любому человеку, научиться быть добрее и&nbsp;контактнее, улучшить свои взаимоотношения с&nbsp;семьей, коллегами и&nbsp;окружающими и&nbsp;по-настоящему узнать себя.</p>
    ',
    href: 'https://synergy.ru/lp/emotionalintellect/'
},
{
    nmb: '12',
    title: 'Спорт',
    description: '
       <p>Программа находится на стадии доработки.</p>
    '
}
]%}
