.about{
    background-color: #ffffff;
    color: #202020;
    padding: 190px 0;
    &__title{
        font-size: 62px;
        line-height: 94%;
        margin-bottom: 70px;
    }
    &__block{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        padding: 35px 0;
        &-1{
            width: 63%;
        }
        &-2{
            width: 35%;
            position: relative;
            .about__text-big{
                margin-top: 15px;
                max-width: 340px;
            }
            &:after{
                content: '';
                width: 450px;
                height: 450px;
                background: url("../img/about/circle.svg")center center no-repeat;
                background-size: contain;
                position: absolute;
                top: -170px;
                left: -85px;
                animation: smallScale infinite 15s ease;
            }
        }
    }
    &__pic{
        position: relative;
        z-index: 1;
    }
    &__text{
        max-width: 550px;
        font-size: 22px;
        line-height: 25px;
        margin-top: 25px;
        &-big{
            max-width: 550px;
            font-size: 36px;
            line-height: 36px;
            letter-spacing: -0.04em;
        }
    }

    @keyframes smallScale {
        0% {
            transform: scale(1) rotate(0);
        }
        50% {
            transform: scale(1.05) rotate(5deg);
        }
        100% {
            transform: scale(1) rotate(0);
        }
    }
}

