.form {
    @media (max-width: 1200px) {
        margin-bottom: -2px;
    }
    @media(max-width:992px) {
        &__title {
            font-size: 36px;
            line-height: 130%;
            text-align: center;
            br {
                display: block;
            }
        }
        &__input {
            height: 45px;
            font-size: 14px;
        }
        &__button {
            .btn {
                min-height: 0px;
                font-size: 14px;
            }
        }
        &__footer {
            font-size: 14px;
            line-height: 17px;
            &-checkbox {
                input:checked+&-icon {
                    &:before {
                        left: 1px;
                        top: -2px;
                    }
                }
            }
        }
    }
    @media(max-width:768px) {
        padding: 50px 0;
        &__title {
            font-size: 44px;
            line-height: 56px;
            text-align: left;
        }
        &__items {
            flex-direction: column;
        }
        &__item {
            width: 100%;
            margin-bottom: 25px;
        }
        &__input,
        &__button {
            height: 55px;
            font-size: 24px;
            .btn {
                font-size: 24px;
            }
        }
    }
    @media(max-width:576px) {
        &__title {
            font-size: 22px;
            line-height: 130%;
            margin-bottom: 25px;
            text-align: center;
        }
        &__item {
            min-height: inherit;
        }
        &__footer {
            font-size: 10px;
            line-height: 12px;
        }
        &__footer-text {
            a {
                // display: block;
            }
        }
        &__footer-checkbox {
            top: 3px;
            width: 16px;
            height: 16px;
            input:checked+&-icon {
                left: 3px;
            }
        }
    }
}